* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
[data-theme="hawaii"] {
  --header-bg-col: #eb6141;
  --main-bg-col: #f5cbde;
  --footer-bg-col: #b2eb59;
  --font-col: black;
  --select-col: #eb6141;
  --href-col: #8a40f1;
  --img-bg: url(pic1.png);
}
[data-theme="dark"] {
  --header-bg-col: #19506b;
  --main-bg-col: #07171f;
  --footer-bg-col: #0c2633;
  --font-col: white;
  --select-col: #19506b;
  --href-col: #277fab;
  --img-bg: url(pic4.png);
}
[data-theme="light"] {
  --header-bg-col: rgb(245, 235, 206);
  --main-bg-col: rgb(248, 234, 162);
  --footer-bg-col: rgb(251, 231, 205);
  --font-col: rgb(76, 40, 40);
  --select-col: rgb(245, 235, 206);
  --href-col: rgb(147, 83, 34);
  --img-bg: url(pic2.png);
}
[data-theme="green"] {
  --header-bg-col: #5f872b;
  --main-bg-col: #8cc63f;
  --footer-bg-col: #324717;
  --font-col: rgb(6, 6, 6);
  --select-col: #5f872b;
  --href-col: rgb(78, 128, 29);
  --img-bg: url(pic3.png);
}
body {
  font-family: "Poppins", sans-serif;
}
.img_body {
  background-image: var(--img-bg);
  height: 812px;
  width: 831px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 700px 1000px;
}
header {
  background-color: var(--header-bg-col);
  padding: 40px;
  padding-bottom: 100px;
}
header h2 {
  text-transform: uppercase;
  font-size: 70px;
  color: var(--font-col);
  padding-bottom: 20px;
}
label {
  font-size: 20px;
  text-transform: uppercase;
}
#changeTheme {
  background-color: var(--select-col);
  color: var(--font-col);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid var(--font-col);
  padding: 10px;
}
main {
  background-color: var(--main-bg-col);
  font-size: 30px;
  text-transform: uppercase;
  color: var(--font-col);
  padding: 40px;
  padding-bottom: 280px;
}
a[href*="mozilla"] {
  text-transform: uppercase;
  color: var(--href-col);
  font-size: 20px;
}
footer {
  background-color: var(--footer-bg-col);
  padding-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--font-col);
  padding: 40px;
}
